.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  margin: 0px;
  transition: 0.5s;
}

.fix-topBar{
  font-size: 75px;
  color: transparent;
}

.input {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  background-image: linear-gradient(to top, black, transparent);

}

.input-field {
  width: 100%;
  height: 40px;
  margin: 5px;
  border-color: transparent;
  border-radius: 25px;
  background-color: #18191d;
  color: #838897;
  font-size: large;
  padding: 20px 40px 0px 10px;
  resize: none;
  scrollbar-width: 0px;
  scrollbar-color: transparent transparent;
  font-family: Kanit, sans-serif;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.input-field:focus {
  outline: none;
}

.send{
  border-color: transparent;
  background-color: transparent;
}

.sendIcon {
  width: 30px;
  height: 30px;
  color: white;
}

.settingsMenu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*margin-left: -130px;*/
  margin-left: -50px;
  margin-right: 10px;
  padding: 2px;
  /*width: 115px;*/
  max-width: 35px;
  border-radius: 25px;
  background-color: #272b34;
  overflow: hidden;
  transition: 0.1s;
}

.settingsMenu .icon{
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  margin: 5px;
}