.imageContainer{
  display: grid;
  grid-template-columns: repeat(2, 105px);
  grid-template-rows: repeat(2, 105px);
  gap: 5px;
  border-radius: 30px;
  width: fit-content;
  margin: 5px;
  padding: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: #000000
}

.imageContainer img{
    height: 100px;
    width: 100px;
    border-radius: 15px;
}