.message{
    border-radius: 30px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    max-width: 70vw;
    color: white;
   font-size: 15px;
    
}

.userMsg{
    display: flex;
    justify-content: flex-end;
}

.userMsg>.message{
    background-image: linear-gradient(to right,#23a8eb, #5e7beb);
}

.AiMsg{
    display: flex;
    justify-content: flex-start;
}

.AiMsg>.message{
    background-color: #000000
}


@media (max-width: 450px) {
    .message{
        max-width: 90vw;
    }
}
  